@{
    ViewBag.Title = "About DDWT Auctions";
}
<div class="jumbotron py-1 mt-2">
    <h2 class="text-center">@ViewBag.Title</h2>
</div>

<p>
    For over 20 years, DDWT Auctions have developed into one of Australia’s leading Auctioneering & Valuation companies. DDWT Auctions currently employ over 20 full time staff, a dedicated team of experts in their field across more than a dozen locations throughout Australia.
</p>

<p>DDWT Auctions offer clients an unprecedented level of expert advice for the sale or valuation of all types of antiques, collectables, furniture and fine art. Our services include;</p>

<div class="row">
    <div class="col-md-5" style="height: 180px; overflow:hidden; position:relative">
        <img height="300" style="position:absolute; top:-60px" src="https://scammellauctions.com.au/wp-content/uploads/2020/09/105562291_3168185089909183_1098000424745705785_o.jpg" />
    </div>
    <div class="col-6">
        <ul>
            <li> Auction Services: Including online, simulcast and traditional; both in-room & onsite Australia-wide.</li>
            <li>
                Valuations: Banks, ﬁnanciers, insolvency practitioners, accountants & lawyers appreciate our team of Certiﬁed Valuers who have a broad knowledge base with hundreds of years combined experience.
            </li>
        </ul>
    </div>
</div>
<hr />
<p>
    DDWT Auctions are without doubt one of Australia’s premier Auctioneers and Valuers. Our Queensland, New South Wales, South Australian and Victorian auction rooms alone are some of the largest in Australia with our fully secured facilities boasting more than 35,000 sqm. Our attendance of buyers is easily one of the highest in Australia and our online and simulcast auctions are some of the most popular on the internet. We actively operate throughout all Australian states with more than a dozen auction facilities nationwide.
</p>
